<%- include('common/head.ejs') %>

<div id="barba-wrapper">
  <div class="barba-container" data-namespace="homepage">
	<main role="main">
		<%- include('components/card.ejs') %>
	</main>
	<%- include('components/background.ejs') %>
	<%# include('components/svgFilter.ejs') %>
  </div>
</div>

<%- include('common/foot.ejs') %>