<%
  var config = {
	"default": {
		"lang": "en",
		"charset": "UTF-8",
		"title": "Mees Rutten | Portfolio",
		"description": "A portfolio website of Mees Rutten",
		"keywords": "",
		"author": "Meesrutten",
		"publicPath": "http://localhost:1234",
		"appColor": "#000000",
		"analytics": "",
		"twitter": "",
		"facebook": "",
		"instagram": ""
	}
}
%>
	<!DOCTYPE html>
	<html lang="<%= config.default.lang %>">

	<head>
		<meta charset="<%= config.default.charset %>">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="Check out the most creative and motion filled projects made by Mees Rutten. A Creative Front-end developer from the Netherlands.">

		<title><%= config.default.title %></title>
		<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png?v=m2lkdnXAoj">
		<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png?v=m2lkdnXAoj">
		<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png?v=m2lkdnXAoj">
		<link rel="manifest" href="/site.webmanifest?v=m2lkdnXAoj">
		<link rel="mask-icon" href="/safari-pinned-tab.svg?v=m2lkdnXAoj" color="#000000">
		<link rel="shortcut icon" href="/favicon.ico?v=m2lkdnXAoj">
		<meta name="apple-mobile-web-app-title" content="MEES RUTTEN">
		<meta name="application-name" content="MEES RUTTEN">
		<meta name="msapplication-TileColor" content="#000000">
		<meta name="theme-color" content="#000000">
		<meta name="google-site-verification" content="hB5B0POYqk5-VBeXjWNdNNWa8Mw-_6yaWgH0lSxG860" />
		<%- include('../components/critical-css.ejs') %>
		<link rel="stylesheet" href="/styles/main.css">
	</head>

	<body>